@import "styles/var";

.wrapper {
  background: linear-gradient(60deg, #EF633BFF, #D013AAFF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline;

  &.isUppercase {
    text-transform: uppercase;
  }

  &.noGradient {
    background: initial;
    color: $black
  }
}