@import 'styles/var';

.wrapper {
  display: flex;
  gap: 12px;
  max-width: max-content;
  position: relative;
  z-index: 2;
}

.wallet {
  padding: 12px;
  gap: 12px;
}

.navBtn {
  max-height: 16px;
  cursor: pointer;

  &:active {
    transform: scale(.95);
  }
}