@import "styles/var";

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  background: rgba(255, 255, 255, 0);
  transition: $cubicBezier;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;

  &.active {
    pointer-events: auto;
    background: rgba(255, 255, 255, .5);
  }
}