@import "styles/var";

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  background: rgba(255, 255, 255, 0);
  transition: $cubicBezier;

  &.active {
    background: rgba(255, 255, 255, .5);
  }
}