@import "styles/var";

.navBtn {
  transition: $cubicBezier;
  position: relative;

  svg {
    position: relative;
    z-index: 1;
  }

  &::after {
    transition: $cubicBezier;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $fourth_color;
    border-radius: 6px;
    opacity: 0;
  }

  &:first-child::after  {
    transform: translateX(30px);
  }

  &:last-child::after {
    transform: translateX(-30px);
  }

  &:first-child.active::after, &:last-child.active::after {
    opacity: 1;
    transform: translateX(0);
  }
}

.notificationRate {
  max-width: max-content;
  margin: 0 auto;
  padding: 1rem;
  background: $sixth_color;
  opacity: 0;
  transform: translateY(-30px);
  border-radius: 1rem;
  color: $white;
  overflow: hidden;
  transition: $cubicBezier;
  display: flex;
  align-items: center;
  gap: 8px;
  background: rgba(0, 0, 0, 1);

  &.isFixed {
    background: $eighth_color;
  }

  &.active {
    opacity: 1;
    transform: translateY(20px);
  }
}