@import 'styles/var';

.inputLabel {
  font-size: inherit;
}

.input {
  font-size: inherit;
  font-weight: 500;
  width: 100%;
  height: 100%;
  border: none;
  color: $primary_color;
  transition: $cubicBezier;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    background-color: transparent!important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    font-size: 16px;
  }

  &:focus-visible {
    border: none;
    outline: none;
  }

  &::placeholder {
    color: $second_color;
  }

  &.isFixed {
    color: $eighth_color;
  }
}