@import "styles/var";

.wrapper {
  max-width: max-content;
  margin: 0 auto;
  padding: 1rem;
  background: $sixth_color;
  opacity: 0;
  transform: translateY(-30px);
  border-radius: 1rem;
  color: $white;
  overflow: hidden;
  transition: $cubicBezier;
  display: flex;
  align-items: center;
  gap: 8px;
  background: rgba(0, 0, 0, 1);

  &.isFixed {
    background: $eighth_color;
  }

  &.active {
    opacity: 1;
    transform: translateY(20px);
  }
}