@import 'styles/var';

.walletWrapper {
  width: 100%;
  padding: 2px;
  position: relative;
  transition: $cubicBezier;

  &.disabled {
    opacity: .4;
    pointer-events: none;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  background: $white;
  position: relative;
  border-radius: 20px;
  z-index: 2;
  gap: 12px;
  font-size: 20px;

  @include md {
    max-height: 80px;
    flex-direction: row;
    gap: 0;
    padding: 30px 20px;
  }
}

.walletInput {
  position: relative;
  z-index: 2;
  width: 100%;
  font-size: 20px;

  @include md {
    margin-right: 12px;
  }
}

.walletError {
  position: absolute;
  bottom: 50px;
  left: 15px;
  background: linear-gradient(60deg, #EF633BFF, #D013AAFF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline;
  font-size: 14px;
  transition: $cubicBezier;
  opacity: 0;

  @include md {
    bottom: 10px;
    left: 20px;
  }

  &.active {
    opacity: 1;
  }
}

@keyframes animatedgradient {
  0% {
    opacity: 1;
  }
  25% {
    opacity: .5;
  }
  34% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  75% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}