@import "styles/var";

.navigationBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 6px;
  background: $white;
  border-radius: 12px;
  overflow: hidden;
  max-width: max-content;

  &.isBorder {
    border: 1px solid rgba(0, 0, 0, 0.10);
  }

  &.isShadow {
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.08);
  }

  &.isNoSwitcher {
    button {
      pointer-events: none;

      &::after {
        pointer-events: none;
        content: initial;
      }
    }
  }
}