@import "styles/var";

.navigationBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 6px;
  background: $white;
  border-radius: 12px;
  overflow: hidden;
  background: #FFF;
  max-width: max-content;

  .isBorder {
    border: 1px solid rgba(0, 0, 0, 0.10);
  }

  &.isShadow {
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.08);
  }

  button {
    max-width: 28px;
    min-width: 28px;
    max-height: 28px;
    padding: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;

    svg {
      min-width: 16px;
      max-height: 16px;
      max-width: 16px;
    }
  }
}