@import "styles/var";

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: $cubicBezier;
  position: relative;

  @include md {
    min-width: 400px;
    max-width: 400px;
    padding-top: 20px;
  }
  @include lg {
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  @media (max-height: $md - 20px) {
    padding-top: 0;
  }

  &.animStart {
    @include lg {
      margin-left: 0;
      transform: translateX(0);
    }
  }
}

.fakeBtn {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  padding: 12px;
  border-radius: 50%;
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  &.active {
    max-height: 60px;
    opacity: 1;
    pointer-events: none;
    visibility: hidden;
  }

  &.isAllSuccess {
    max-height: 10px;
    margin-top: 10px;
  }
}

.aiBtn {
  position: fixed;
  bottom: 0;
  left: 50%;
  top: 50%;
  min-width: 60px;
  height: 60px;
  max-height: 60px;
  opacity: 0;
  padding: 0;
  transform: translate(-50%, 0);
  transition: $cubicBezier;
  @media screen {
    
  }

  &::before {
    position: absolute;
    transition: $cubicBezier;
    content: '';
    border-radius: 50%;
    top: -100vw;
    left: -100vw;
    right: -100vw;
    bottom: -100vw;
    z-index: -1;
    border: 5vw solid $fourth_color;
    pointer-events: none;
    background: #fff;
  }

  svg {
    transition: $cubicBezier;
    transform: translateY(-200px);
  }

  &.active {
    opacity: 1;
    transform: translate(-50%, 0);

    &::before {
      top: -1px;
      left: -1px;
      right: -1px;
      bottom: -1px;
      border-width: 2px;
    }

    svg {
      max-width: 30px;
      max-height: 30px;
      transform: translateY(0);
    }
  }
}
