@import "styles/var";

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: $cubicBezier;
  position: relative;
  padding-top: 0;

  @include md {
    min-width: 400px;
    max-width: 400px;
  }

  @include lg {
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  &.animStart {
    @include lg {
      padding-top: 20px;
      margin-left: 0;
      transform: translateX(0);
    }
  }
}

.aiBtn {
  min-width: 60px;
  max-height: 0;
  height: 0;
  border-radius: 50%;
  background: $white;
  border: 1px solid $fourth_color;
  margin: 0 auto;
  opacity: 0;
  transition: $cubicBezier;
  transform: translateY(-10px);
  padding: 0;

  svg {
    max-width: 0;
    max-height: 0;
    transition: $cubicBezier;
  }

  &.active {
    margin: 0 auto;
    opacity: 1;
    height: 60px;
    max-height: 60px;
    padding: 12px;
    transform: translateY(20px);

    svg {
      max-width: 30px;
      max-height: 30px;
    }
  }
}