@import "styles/var";

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: $cubicBezier;
  position: relative;

  @include md {
    min-width: 400px;
    max-width: 400px;
  }

  @include lg {
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  &.animStart {
    @include lg {
      margin-left: 0;
      transform: translateX(0);
    }
  }
}