.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.container {
  max-width: 500px;
  width: 100%;
  text-align: center;

}

.relative {
  position: relative;
}

.overflowVisible {
  overflow: visible;
}

.roundedMd {
  border-radius: 0.375rem;
}

.hoverTranslate {
  transition: transform 0.3s ease-in-out;
}

.shadow {
  box-shadow: 0 5px 8px rgba(3, 25, 180, 0.4);
}

.closeButton {
  margin-bottom: 4px;
  margin-top: 20px;
}
