@import 'styles/var';

.wrapper {
  max-width: $container_width;
  height: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.largeContainer {
  max-width: $largeContainer_width;
  height: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}