@import "styles/var";

.wrapper {
  width: 100%;
  min-height: 432px;
  border: 1px solid red;
  transition: $cubicBezier;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20%);

  @include md {
    min-height: initial;
    height: 100%;
    max-width: 880px;
    transform: translateX(10%);
  }

  &.animStart {
    opacity: 1;
    transform: translateY(0);

    @include md {
      opacity: 1;
      transform: translateX(0);
    }
  }
}