@import "styles/var";

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.stateItem {
  display: flex;
  align-items: center;
  gap: 5px;
  color: $fifth_color;
  font-size: 12px;
  text-transform: capitalize;

  &.loading {
    color: $black;
    font-weight: 700;

    .icon {
      path {
        fill: $black;
      }
    }
  }

  &.success {

    .iconWrapper {
      position: relative;
      border-radius: 50%;
      overflow: hidden;
      z-index: 1;

      &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: green;
      }

      .icon {
        z-index: 1;

        path {
          fill: transparent;
        }
      }
    }
  }
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;

  .icon {
    z-index: 1;

    path {
      fill: $fifth_color;
    }
  }
}