@import "styles/var";

.border {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  border-radius: 22px;
  border: 3px solid $fourth_color;
  z-index: 1;
  transition: $cubicBezier;

  &.smallRadius {
    border-radius: 12px;
  }

  &.withoutGrayBorder {
    border: none;
  }
}

.gradientBlock {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
  border-radius: 22px;
  opacity: 0;
  transition: $cubicBezier;
  background: linear-gradient(60deg, #EF633BFF, #D013AAFF);
  background-size: 300% 300%;

  &.active {
    opacity: 1;
    animation: animatedGradient 4s linear infinite;
  }

  &.withoutAnim {
    animation: initial;
  }

  &.smallRadius {
    border-radius: 12px;
  }

  &.hideGradient {
    opacity: 0;
    background: linear-gradient(60deg, #EF633BFF, #D013AAFF);
    animation: animatedTransparent .6s linear;
  }
}

@keyframes animatedTransparent {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animatedGradient {
  0% {
    opacity: 0;
  }
  25% {
    opacity: .5;
  }
  34% {
    opacity: .75;
  }
  60% {
    opacity: 1;
  }
  75% {
    opacity: .5;
  }
  100% {
    opacity: 0;
  }
}