@import "styles/var";

.border {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  border-radius: 22px;
  border: 2px solid $lightGray;
  z-index: 1;
}

.gradientBlock {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
  border-radius: 22px;

  &.active {
    background: linear-gradient(60deg, #EF633BFF, #D013AAFF);
    animation: animatedgradient 4s linear infinite;
    background-size: 300% 300%;
  }

  &.withoutAnim {
    animation: initial;
  }
}

@keyframes animatedgradient {
  0% {
    opacity: 1;
  }
  25% {
    opacity: .5;
  }
  34% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  75% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}