@import "styles/var";


.wrapper {
  display: flex;
  justify-content: center;
  transition: $cubicBezier;
  min-height: max-content;
  width: 100%;
  margin: 0 auto;
  align-self: center;
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;

  @include md {
    justify-content: center;
    align-items: center;
    max-width: 844px;
  }

  &.menuIsOpen {
    padding-top: 0;

    @include md {
      padding-top: 2rem;
    }
  }

  &.animStart {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
    padding-top: 102px;
  }

  &.unmounted {
    display: none;
  }
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: $cubicBezier;
  max-height: max-content;

  @include md {
    max-height: 360px;
  }
}

.cardsWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 'sendCard' 'getCard';
  position: relative;
  gap: 12px;

  @include md {
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'sendCard getCard';
  }
}

.switchArrows {
  background: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 36px;
  max-height: 28px;
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto auto;
  z-index: 10;
  border: none;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: $transition ease-in-out all;

  &.disabled {
    pointer-events: none;
    opacity: .8;
  }

  svg {
    transition: $transition ease-in-out all;
  }

  &:hover {
    svg {
      transform: rotate(30deg);
    }
  }

  &:active {
    transform: scale(.95);
  }
}

.exchangeFooter {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  max-height: 0;
  transition: $cubicBezier;
  transform: translateY(-100%);

  &.isShow {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    max-height: 200px;
  }

  &.hided {
    display: none;
  }
}