@import "styles/var";


.wrapper {
  display: flex;
  justify-content: center;
  transition: $cubicBezier;
  padding-top: 2rem;
  height: 100%;

  @include md {
    justify-content: center;
    align-items: center;
  }

  &.menuIsOpen {
    padding-top: 0;

    @include md {
      padding-top: 2rem;
    }
  }
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  transition: $cubicBezier;

  @include md {
    max-height: 340px;
  }
}

.cardsWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  gap: 12px;

  @include md {
    flex-direction: row;
  }
}

.switchArrows {
  background: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 36px;
  max-height: 28px;
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto auto;
  z-index: 10;
  border: none;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: $transition ease-in-out all;

  &.disabled {
    pointer-events: none;
    opacity: .8;
  }

  svg {
    transition: $transition ease-in-out all;
  }

  &:hover {
    svg {
      transform: rotate(30deg);
    }
  }

  &:active {
    transform: scale(.95);
  }
}