@import "styles/var";

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  max-height: 158px;
  flex-direction: column;
  justify-content: space-between;
  transition: $cubicBezier;
  padding: 12px 12px 20px 12px;
  gap: 22px;

  &.isOpenMenu {
    padding: 0 32px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    max-height: 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 32px;
}

.cardNavWrapper {
  position: relative;
}

.minError {
  display: inline-block;
  color: $fifth_color;
  font-size: 14px;
  font-weight: 500;
}

.navContent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(10px);
  transition: $cubicBezier;

  &.isVisible {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateY(0);
  }
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.titleDesc {
  color: $second_color;
  font-size: 16px;
}

.titleDesc, .inputWrapper {
  padding-left: 20px;
}

.inputWrapper {
  max-width: 300px;
  position: relative;
  font-size: 24px;
}

.lockIcon {
  position: absolute;
  right: -20px;
  top: -14px;
  cursor: pointer;
}

.additionalInfo {
  font-size: 12px;
  text-transform: uppercase;
  color: $second_color;
}

.tooltipFee {
  width: 100%;
  color: $white;
  padding: 16px 20px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;

  &.active {
    background: $sixth_color;
  }
}

.skeleton {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #f4f5f6, #dee0e0);
  border-radius: 5px;
  overflow: hidden;
  transition: .3s ease;
  animation: skeletonBg 2s infinite linear;
  background-size: 400% 400%;
  z-index: 100;
}

.cardNavSkeleton {
  border-radius: 12px;
}


@keyframes skeletonBg {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}