@import "styles/var";

.wrapper {
  opacity: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  pointer-events: none;
  transition: $cubicBezier;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 24px 0;
  overflow-y: auto;
  padding: 0 32px;

  &.noScroll {
    overflow: hidden;
  }

  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 28px 0;
  transition: $cubicBezier;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .left {
    display: inline-block;
    color: $second_color;
  }
}

.tokens {
  display: flex;
  align-items: center;
  gap: 6px;
  transition: $cubicBezier;
}

.closeBtn {
  position: absolute;
  top: 12px;
  right: 12px;
}

.tokensWrapper {
  height: 100%;
  overflow-y: auto;
}

.noActive {
  opacity: .5;
  pointer-events: none;

  button {
    pointer-events: none!important;
  }
}

