@import "styles/var";

.wrapper {
  opacity: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  pointer-events: none;
  transition: $cubicBezier;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 24px 0;

  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 28px 0;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .left {
    display: inline-block;
    color: $darkBlack;
  }
}

.tokens {
  display: flex;
  align-items: center;
  gap: 6px;
}

.closeBtn {
  position: absolute;
  top: 12px;
  right: 12px;
}

.tokensWrapper {
  height: 100%;
  overflow-y: auto;
}

