@import "styles/var";

.wrapper {
  padding: 12px;
  font-size: 14px;
  line-height: 1;
  color: $black;
  border: none;
  border-radius: 12px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-transform: uppercase;
  background: $fourth_color;
  cursor: pointer;
  transition: $transition ease-in-out all;
  font-family: $primary_font;

  &:active {
    transform: scale(.98);
  }

  &:hover {
    background: rgba(#000, .1);
  }

  span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $primary_color;

  }
}

.imageWrapper {
  max-width: 16px;
  min-width: 16px;
  max-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}