@import "styles/var";

.burgerButton {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  gap: 1px;
  align-items: center;
  flex-wrap: wrap;
  width: 24px;
  height: 24px;
  background: transparent;
  border: none;
  padding: 4px;

  &.isOpen {
    padding: 0;
    transform: scale(.90);

    .burgerBox {
      transition: $cubicBezier;
      &:nth-child(1), &:nth-child(3) {
        width: 100%;
        height: 3px;
        transform-origin: left;
      }
      &:nth-child(1) {
        transform: rotate(45deg) translateY(-4px) translateX(.5px);
      }
      &:nth-child(2), &:nth-child(4) {
        display: none;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translateY(4px) translateX(.5px);
      }
    }
  }
}

.burgerBox {
  display: inline-block;
  width: 6px;
  height: 6px;
  background: linear-gradient(60deg, #EF633BFF, #D013AAFF);
  transition: all 0.3s ease;
}
