.wrapper {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 28px;
  min-width: 28px;
  max-height: 28px;
  padding: 4px;

  &:active {
    transform: scale(.90);
  }
}