@import "styles/var";

.wrapper {
  position: absolute;
  top: 12px;
  left: 12px;
  display: flex;
  align-items: center;
  gap: 5px;

  .addressBtn {
    &::after {
      transform: translateX(50px);
    }
  }

  .amountBtn {
    &::after {
      transform: translateX(-50px);
    }
  }

  .addressBtn, .amountBtn {
    background: none;
    border: 1px solid $fourth_color;
    position: relative;
    transition: $cubicBezier;

    &::after {
      transition: $cubicBezier;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 12px;
    }

    &.active {
      &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $fourth_color;
        z-index: -1;
        transform: translateX(0);
      }
    }
  }
}