@import "styles/var";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 2rem;
}

.getValueBox {
  flex-direction: row-reverse;

  span {
    color: $black!important;
  }
}

.box {
  display: flex;
  flex-direction: column;
  width: calc(50% - 32px);
  gap: 4px;

  &.walletBox {
    width: 100%;
  }
}

.boxTitle {
  font-size: 14px;
  color: $fifth_color;
}