@import "styles/var";

.wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: column;
  transition: $cubicBezier;
  gap: 20px;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: translate(-50%, 350%);
  left: 50%;
  right: 0;

  @include lg {
    flex-direction: row;
  }

  &.animStart {
    opacity: 1;
    transform: translate(-50%, 0);
    top: 0;

    @include lg3 {
      top: 50%;
      transform: translate(-50%, -50%);
    }

    @media (max-height: $md - 20px) {
      top: 0;
      transform: translate(-50%, 0%);
    }
  }

  &.unmounted {
    display: none;
  }
}

.boxesWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0 40px;
  height: 100%;
  padding-top: 156px;

  @include sm {
    padding-top: 102px;
  }

  @include lg {
    flex-direction: row;
    align-items: flex-start;
  }

  &.isAllSuccess {
    padding-top: 102px;
  }
}