@import "styles/var";

.wrapper {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  transform: translateY(130%);
  transition: $cubicBezier;
  padding-top: 0;
  gap: 20px;
  opacity: 0;
  padding-bottom: 20px;

  @include lg {
    width: 100%;
    padding-top: 0;
    flex-direction: row;
  }
  @include lg3 {
    align-items: flex-start;
  }

  &.animStart {
    opacity: 1;
    transform: translateY(0);
  }

  &.unmounted {
    display: none;
  }
}