@font-face {
  font-family: 'Helvetica';
  src: url('../public/fonts/Helvetica.eot');
  src: local('Helvetica'),
  url('../public/fonts/Helvetica.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/Helvetica.woff2') format('woff2'),
  url('../public/fonts/Helvetica.woff') format('woff'),
  url('../public/fonts/Helvetica.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../public/fonts/Helvetica-Light.eot');
  src: local('Helvetica Light'), local('Helvetica-Light'),
  url('../public/fonts/Helvetica-Light.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/Helvetica-Light.woff2') format('woff2'),
  url('../public/fonts/Helvetica-Light.woff') format('woff'),
  url('../public/fonts/Helvetica-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../public/fonts/Helvetica-Bold.eot');
  src: local('Helvetica Bold'), local('Helvetica-Bold'),
  url('../public/fonts/Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/Helvetica-Bold.woff2') format('woff2'),
  url('../public/fonts/Helvetica-Bold.woff') format('woff'),
  url('../public/fonts/Helvetica-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: local('Helvetica Now Display Regular'), local('../public/fonts/Helvetica-Now-Display-Regular'),
  url('../public/fonts/HelveticaNowDisplay-Regular.woff2') format('woff2'),
  url('../public/fonts/HelveticaNowDisplay-Regular.woff') format('woff'),
  url('../public/fonts/HelveticaNowDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: local('Helvetica Now Display Medium'), local('../public/fonts/Helvetica-Now-Display-Medium'),
  url('../public/fonts/HelveticaNowDisplay-Medium.woff2') format('woff2'),
  url('../public/fonts/HelveticaNowDisplay-Medium.woff') format('woff'),
  url('../public/fonts/HelveticaNowDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Now Display';
  src: local('Helvetica Now Display Bold'), local('../public/fonts/Helvetica-Now-Display-Bold'),
  url('../public/fonts/HelveticaNowDisplay-Bold.woff2') format('woff2'),
  url('../public/fonts/HelveticaNowDisplay-Bold.woff') format('woff'),
  url('../public/fonts/HelveticaNowDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
