$primary_font: 'Helvetica', sans-serif;

// colors
$primary_bg: #fff;

$white: #fff;
$black: #000;

$primary_color: #061935;
$second_color: rgba(#061935, .3);
$third_color: rgba(0, 0, 0, .1);
$fourth_color: #f2f2f2;
$fifth_color: rgba(0, 0, 0, .3);
$sixth_color: #1fa07b;
$seventh_color: #e64a5a;


//
$container_width: 1320px;
$transition: .2s;
$cubicBezier: .6s cubic-bezier(0.86, 0.6, 0, 0.93) all;

// media sizes
$xs: 360px;
$xs2: 430px;
$sm: 576px;
$sm2: 600px;
$md: 768px;
$md2: 800px;
$lg: 1024px;
$lg2: 1140px;
$lg3: 1300px;
$xl: 1440px;
$xxl: 1720px;


@mixin xs {
  @media (min-width: $xs) {
    @content;
  }
}

@mixin xs2 {
  @media (min-width: $xs2) {
    @content;
  }
}

@mixin sm {
  @media (min-width: $sm) {
    @content;
  }
}

@mixin sm2 {
  @media (min-width: $sm2) {
    @content;
  }
}

@mixin md {
  @media (min-width: $md) {
    @content;
  }
}

@mixin md2 {
  @media (min-width: $md2) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $lg) {
    @content;
  }
}

@mixin lg2 {
  @media (min-width: $lg2) {
    @content;
  }
}

@mixin lg3 {
  @media (min-width: $lg3) {
    @content;
  }
}

@mixin xl {
  @media (min-width: $xl) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: $xxl) {
    @content;
  }
}