$primary_font: 'Helvetica', sans-serif;

$primary_color: #000;
$primary_bg: #fff;

$white: #fff;
$black: #000;
$gray: #919191;
$gray_second: #b2b2b2;
$lightGray: #f2f2f2;
$green: #1fa07b;


$container_width: 821px;

$hoverTransition: .2s ease-in-out;