@import "styles/var";

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2rem 0 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: $transition ease-in-out all;
  transform: translateY(20px);
  z-index: -1;

  @media (max-height: $md - 20px) {
    padding: 1.5rem 0;
  }

  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
  }
}