@import "styles/var";

.wrapper {
  position: absolute;
  top: 12px;
  left: 12px;
  max-width: max-content;
  padding: 12px 1rem;
  border-radius: 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: $cubicBezier;
  opacity: 0;
  transform: translateY(-10px);

  &.active {
    opacity: 1;
    transform: translateY(0);
  }
}

.icon {
  width: 16px;
  min-width: 16px;
  height: 16px;
}