@import "styles/var";

.wrapper {
  padding: 12px 16px;
  font-size: 14px;
  color: $white;
  border: none;
  border-radius: 12px;
  font-weight: 700;
  cursor: pointer;
  transition: $transition ease-in-out all;

  &:active {
    transform: scale(.98);
  }

  &.black {
    background: $black;
  }

  &.gray {
    background: $fourth_color;
    color: $black;
  }

  &.whiteGray {
    background: $second_color;
  }

  &.transparent {
    background: transparent;
    border: 1px solid $fourth_color;
    color: $black;
  }

  &:disabled {
    opacity: .5;
    pointer-events: none;
  }
}